<h1>Records</h1>

<div class="list-group">
  <% @records.each do |record| %>
    <%= link_to record_path(record), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= record.name %></h5>
        <small><%= time_ago_in_words(record.updated_at) %></small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <% end %>
  <% end %>
</div>