<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>
 
<p>
  <strong>Type:</strong>
  <%= @record.dns_type.upcase %>
</p>

<p>
  <strong>Content:</strong>
  <%= @record.content %>
</p>

<p>
  <strong>Cloudflare ID:</strong>
  <%= @record.cloudflare_id %>
</p>